language: android
jdk: 
  - oraclejdk8

sudo: false

addons:
  apt:
    packages:
      - oracle-java8-installer

before_install:
 - chmod +x gradlew
 
before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

android:
  components:
        - tools # to get the new `repository-11.xml`
        - tools # to install Android SDK tools 25.1.x (x = 6 right now)
        - build-tools-24.0.1
        - android-24
        - platform-tools
        - extra-android-support
        - extra-android-m2repository
        - extra-google-m2repository
        - extra-google-google_play_services
        # Specify at least one system image,
        # if you need to run emulator(s) during your tests
        - sys-img-armeabi-v7a-android-24
        # - sys-img-x86-android-24
        
env:
  global:
   # install timeout in minutes (2 minutes by default)
    - ADB_INSTALL_TIMEOUT=10
        
# Emulator Management: Create, Start and Wait
before_script:
  - echo no | android create avd --force -n test -t android-24 --abi armeabi-v7a
  - emulator -avd test -no-skin -no-audio -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &

script: 
  - android list target
  - ./gradlew build connectedCheck

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/7346b57d8c284592f2bb
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
