language: android
android:
  components:
    - build-tools-24.0.1
    - android-24
# Additional components
    - extra-com_android_support_appcompat-v7:24.2.0
    - extra-google-m2repository
    - extra-android-m2repository
    - addon-google_apis-google-24
    
    before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
